# 5.튜플 타입

In [6]:
 a = () # or a = tuple()
type(a)

tuple

In [8]:
b = (1,)  # 숫자를 하나만 입력할때는 "," 을 챙겨줄것!!
type(b)

tuple

In [9]:
c = (1,2,3)
type(c)

tuple

In [10]:
d = 1,2,3    # 유일하게 괄호 생략이 가능한  튜플 타입.
type(d)

tuple

In [11]:
e = (1,2,('a','b',3,4))
type(e)

tuple

In [13]:
e[0] = 3   # 튜플 타입은 데이터의 수정과 삽입이 꽉 막혀있다.

TypeError: 'tuple' object does not support item assignment

In [14]:
del e[0]

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
e.             #  count, index 가능한 타입.

In [15]:
f = (1,2,3)
g = (1,2,('a'),3,4)
f+g

(1, 2, 3, 1, 2, 'a', 3, 4)

In [19]:
len(f)

3

x,y,z = (1,2,3)

In [17]:
x

1

In [18]:
y

2

In [ ]:
# 튜플은 수정과 삭제가 불가능하다.

In [25]:
wish = ('구글', '아마존')
wish1 = ['구글', '아마존']
data = list(wish)    # 리스트로 만드는 함수.
data1 = tuple(wish1) # 튜플로 만드는 함수
type(data1)

tuple

In [26]:
m = (1,2,3,)
a,b,c =m
print(a+b+c)

6

In [28]:
i =9,
m+i

(1, 2, 3, 9)

# 6.딕셔너리 타입

In [34]:
# 사전의 생성
a = {'gender':'female','age':30,'name':'kim'}

In [35]:
a

{'gender': 'female', 'age': 30, 'name': 'kim'}

In [36]:
type(a)

dict

In [ ]:
# 위치 기반 index가 불가능하다.

In [ ]:
# key : value "기준은 key로 잡는다."

In [37]:
# 사전의 인덱싱
a['gender']

'female'

In [38]:
a['age']

30

In [40]:
b ={1:'good'}   # value 자리에는 리스트나 다른 타입도 가능.
c = {'a':[1,3,5]}
d = {'a':(1,3,5)}

In [41]:
e = {[1,3,5]:'a'} #키의 자리에는 리스트가 올수없다.

TypeError: unhashable type: 'list'

In [42]:
e = {(1,3,5):'a'}

# 사전의 추가

In [49]:
a = {'gender':'femal'}  # 원래 테이블 레이블

In [50]:
a['age'] = 30       # 키를 기준으로 추가

In [51]:
a

{'gender': 'femal', 'age': 30}

In [62]:
# 사전의 삭제.
 del a['gender']

IndentationError: unexpected indent (<ipython-input-62-0edae2e739ff>, line 2)

In [55]:
a

{'gender': 'femal', 'age': 30}

In [56]:
# 사전 장점.
result = {'A':99, 'B':91}

In [57]:
result['A']

99

In [58]:
result['B']

91

In [60]:
b = {'fuel':'gasoline','fuel':'diesel', 'fuel':'LPG'}  # 하나의 키에는 하나의 값만 넣을수있다. # 보통 마지막값이 많이 들어간다.
b

{'fuel': 'LPG'}

In [63]:
a = {'gender':'female','age':30,'name':'kim'}

In [64]:
a.keys()    # 해당 그룹의 키값들 나열.

dict_keys(['gender', 'age', 'name'])

In [65]:
list(a.keys())   # 키값 리스트 보기.

['gender', 'age', 'name']

In [66]:
a.values()       # value 만 뽑아 내기.

dict_values(['female', 30, 'kim'])

In [67]:
list(a)         #  사전을 리스트로 만들기.

['gender', 'age', 'name']

In [68]:
a.items()

dict_items([('gender', 'female'), ('age', 30), ('name', 'kim')])

In [69]:
list(a.items())

[('gender', 'female'), ('age', 30), ('name', 'kim')]

In [70]:
a.clear()

In [71]:
a

{}

In [72]:
type(a)

dict

In [73]:
a = {'gender':'female','age':30,'name':'kim'}

In [75]:
a.get('gender')    # 키에 해당하는 value 값나옴.

'female'

In [80]:
'female' in a     # in 값 쓰는법.

False

# 집합

In [ ]:
 # 집합의 생성

In [81]:
a = set([1,2,3,4,5])

In [82]:
type(a)

set

In [83]:
a

{1, 2, 3, 4, 5}

In [85]:
b = list('kristina')    # 리스트.

In [86]:
b

['k', 'r', 'i', 's', 't', 'i', 'n', 'a']

In [87]:
c = set('kristina')     #집합.

In [88]:
c

{'a', 'i', 'k', 'n', 'r', 's', 't'}

In [89]:
type(c)

set

In [90]:
c[0]                     # 집합은 index 불가.

TypeError: 'set' object is not subscriptable

In [92]:
x = {1,2,3,4,5}
y = {3,4,5,6,7}

In [93]:
x & y

{3, 4, 5}

In [94]:
x.intersection(y)    # 교집합

{3, 4, 5}

In [95]:
x|y                 # 합집합

{1, 2, 3, 4, 5, 6, 7}

In [96]:
x-y                 # 차집합

{1, 2}

In [97]:
y-x

{6, 7}

In [98]:
x.difference(y)

{1, 2}

In [100]:
y.difference(x)

{6, 7}

In [103]:
x ^ y

{1, 2, 6, 7}

In [106]:
x.add(10)

In [108]:
x

{1, 2, 3, 4, 5, 10}

In [109]:
x.update([11,12,13])

In [110]:
x

{1, 2, 3, 4, 5, 10, 11, 12, 13}

In [111]:
x.remove(13)

In [112]:
x

{1, 2, 3, 4, 5, 10, 11, 12}

In [ ]:
# 퀴즈  타임

In [120]:
icecream={'메로나':'1000','폴라포':'1200','빵빠레':'1800'}  # 아이스크림 값.

In [121]:
icecream

{'메로나': '1000', '폴라포': '1200', '빵빠레': '1800'}

In [126]:
icecream['죠스바']=1200
icecream['월드콘']:1500
icecream

{'메로나': '1000', '폴라포': '1200', '빵빠레': '1800', '죠스바': 1200}

In [138]:
print('메로나 가격:',icecream['메로나'])

메로나 가격: 1000

In [140]:
icecream['메로나']=1200

In [144]:
icecream

{'메로나': 1200, '폴라포': '1200', '빵빠레': '1800', '죠스바': 1200}

In [147]:
del icecream['메로나']

In [148]:
icecream

{'폴라포': '1200', '빵빠레': '1800', '죠스바': 1200}

In [151]:
inventory = {'메로나':[300,20],'비비빅':[400,3], '죠스바':[250,100]}

In [152]:
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [160]:
print('메로나가격:', inventory['메로나'][0],'원')

메로나가격: 300 원

In [165]:
print('메로나재고:', inventory['메로나'][1],'개')

메로나재고: 20 개

In [166]:
inventory['월드콘']=[500.7]

In [168]:
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500.7]}